dist: trusty
sudo: true
  #
language: c
  #
notifications:
  email: false
  #
before_install:
  #
  # Fetch the tag information for the current branch
  - git fetch origin --tags
  #
  # Publish the buildroot script folder
  - chmod +x ${TRAVIS_BUILD_DIR}/buildroot/bin/*
  - export PATH=${TRAVIS_BUILD_DIR}/buildroot/bin/:${PATH}
  #
  # Start fb X server
  - "/sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_1.pid --make-pidfile --background --exec /usr/bin/Xvfb -- :1 -ac -screen 0 1280x1024x16"
  - sleep 3
  - export DISPLAY=:1.0
  # install python and platformio
  - apt-get update && apt-get install python python-pip
  - pip install -U platformio
  #
install:
  #
  # Install arduino 1.6.10
  - wget http://downloads.arduino.cc/arduino-1.6.10-linux64.tar.xz
  - tar xf arduino-1.6.10-linux64.tar.xz
  - sudo mv arduino-1.6.10 /usr/local/share/arduino
  - ln -s /usr/local/share/arduino/arduino ${TRAVIS_BUILD_DIR}/buildroot/bin/arduino
  #
  # Install: LiquidCrystal_I2C library
  - git clone https://github.com/kiyoshigawa/LiquidCrystal_I2C.git
  - mv LiquidCrystal_I2C/LiquidCrystal_I2C /usr/local/share/arduino/libraries/LiquidCrystal_I2C
  #
  # Install: LiquidTWI2 library
  - git clone https://github.com/lincomatic/LiquidTWI2.git
  - sudo mv LiquidTWI2 /usr/local/share/arduino/libraries/LiquidTWI2
  #
  # Install: Monochrome Graphics Library for LCDs and OLEDs
  - git clone https://github.com/olikraus/U8glib_Arduino.git
  - sudo mv U8glib_Arduino /usr/local/share/arduino/libraries/U8glib
  #
  # Install: L6470 Stepper Motor Driver library
  # - git clone https://github.com/ameyer/Arduino-L6470.git
  # - sudo mv Arduino-L6470/L6470 /usr/local/share/arduino/libraries/L6470
  #
  # Install: TMC26X Stepper Motor Controller library
  # - git clone https://github.com/trinamic/TMC26XStepper.git
  # - sudo mv TMC26XStepper /usr/local/share/arduino/libraries/TMC26XStepper
  #
  # Install: TMC2130 Stepper Motor Controller library
  - git clone https://github.com/teemuatlut/TMC2130Stepper.git
  - sudo mv TMC2130Stepper /usr/local/share/arduino/libraries/TMC2130Stepper
  #
  # Install: Adafruit Neopixel library
  - git clone https://github.com/adafruit/Adafruit_NeoPixel.git
  - sudo mv Adafruit_NeoPixel /usr/local/share/arduino/libraries/Adafruit_NeoPixel
  #
before_script:
  #
  # Change current working directory to the build dir
  - cd ${TRAVIS_BUILD_DIR}
  #
  # Generate custom version include
  - generate_version_header_for_marlin ${TRAVIS_BUILD_DIR}/Marlin
  - cat ${TRAVIS_BUILD_DIR}/Marlin/_Version.h
  #
script:
  #
  # Backup Configuration.h, Configuration_adv.h, and pins_ROBOMB.h
  #
  - cp Marlin/Configuration.h Marlin/Configuration.h.backup
  - cp Marlin/Configuration_adv.h Marlin/Configuration_adv.h.backup
  - cp Marlin/pins_ROBOMB.h Marlin/pins_ROBOMB.h.backup
  #
  # Build with the default R2 configurations
  #
  - build_marlin
  #
  # Test 2 extruders and heated bed on Robo Mainboard 2.1.4 and up
  # Test a "Fix Mounted" Probe with Safe Homing, some arc options,
  # linear bed leveling, M48, leveling debug, and firmware retraction.
  #
  - opt_set MOTHERBOARD BOARD_ROBOMB
  - opt_set EXTRUDERS 2
  - opt_set TEMP_SENSOR_0 1
  - opt_set TEMP_SENSOR_1 1
  - opt_set TEMP_SENSOR_BED 12
  - opt_enable PIDTEMPBED FIX_MOUNTED_PROBE Z_SAFE_HOMING ARC_P_CIRCLES CNC_WORKSPACE_PLANES
  - opt_enable Z_MIN_PROBE_REPEATABILITY_TEST
  - opt_enable SDSUPPORT EEPROM_SETTINGS
  - opt_enable FIX_MOUNTED_PROBE Z_SAFE_HOMING
  - opt_enable_adv FWRETRACT MAX7219_DEBUG
  - opt_set ABL_GRID_POINTS_X 4
  - opt_set ABL_GRID_POINTS_Y 4
  - build_marlin
  #
  # Test a build of AUTO_BED_LEVELING_LINEAR
  #
  - restore_configs
  - opt_disable AUTO_BED_LEVELING_BILINEAR
  - opt_enable AUTO_BED_LEVELING_LINEAR DEBUG_LEVELING_FEATURE
  - build_marlin
  #
  # Test a build of AUTO_BED_LEVELING_UBL
  #
  - restore_configs
  - opt_disable AUTO_BED_LEVELING_BILINEAR
  - opt_enable AUTO_BED_LEVELING_UBL DEBUG_LEVELING_FEATURE
  - build_marlin
  #
  # Test a probeless build of AUTO_BED_LEVELING_3POINT
  #
  - restore_configs

  - opt_disable AUTO_BED_LEVELING_BILINEAR

  - opt_enable AUTO_BED_LEVELING_3POINT DEBUG_LEVELING_FEATURE
  - build_marlin
  #
  # Test a probeless build of MESH_BED_LEVELING

  #
  - restore_configs
  - opt_disable AUTO_BED_LEVELING_BILINEAR
  - opt_enable MESH_BED_LEVELING DEBUG_LEVELING_FEATURE
  - build_marlin
  #
  # Test a build of C2
  #
  - restore_configs
  - opt_set ROBO_BOARD_VERSION BOARD_VERSION_C2
  - build_marlin
  #
  # Test a build of AUTO_BED_LEVELING_LINEAR
  #
  - restore_configs
  - opt_set ROBO_BOARD_VERSION BOARD_VERSION_C2
  - opt_disable AUTO_BED_LEVELING_BILINEAR
  - opt_enable AUTO_BED_LEVELING_LINEAR DEBUG_LEVELING_FEATURE
  - build_marlin
  #
  # Test a build of AUTO_BED_LEVELING_UBL
  #
  - restore_configs
  - opt_set ROBO_BOARD_VERSION BOARD_VERSION_C2
  - opt_disable AUTO_BED_LEVELING_BILINEAR
  - opt_enable AUTO_BED_LEVELING_UBL DEBUG_LEVELING_FEATURE
  - build_marlin
  #
  # Test a probeless build of AUTO_BED_LEVELING_3POINT
  #
  - restore_configs
  - opt_set ROBO_BOARD_VERSION BOARD_VERSION_C2
  - opt_disable AUTO_BED_LEVELING_BILINEAR

  - opt_enable AUTO_BED_LEVELING_3POINT DEBUG_LEVELING_FEATURE
  - build_marlin
  #
  # Test a probeless build of AUTO_BED_LEVELING_MESH
  #
  - restore_configs
  - opt_set ROBO_BOARD_VERSION BOARD_VERSION_C2

  - opt_disable AUTO_BED_LEVELING_BILINEAR

  - opt_enable MESH_BED_LEVELING DEBUG_LEVELING_FEATURE
  - build_marlin
  #
  # Test a build of R2_DUAL
  #
  - restore_configs
  - opt_set ROBO_BOARD_VERSION BOARD_VERSION_R2_DUAL
  - build_marlin
  #
  # Test a build of AUTO_BED_LEVELING_LINEAR
  #
  - restore_configs
  - opt_set ROBO_BOARD_VERSION BOARD_VERSION_R2_DUAL

  - opt_disable AUTO_BED_LEVELING_BILINEAR
  - opt_enable AUTO_BED_LEVELING_LINEAR  DEBUG_LEVELING_FEATURE
  - build_marlin
  #

  # Test a build of AUTO_BED_LEVELING_UBL
  #
  - restore_configs
  - opt_set ROBO_BOARD_VERSION BOARD_VERSION_R2_DUAL

  - opt_disable AUTO_BED_LEVELING_BILINEAR

  - opt_enable AUTO_BED_LEVELING_UBL DEBUG_LEVELING_FEATURE
  - build_marlin
  #
  # Test a probeless build of AUTO_BED_LEVELING_3POINT
  #
  - restore_configs
  - opt_set ROBO_BOARD_VERSION BOARD_VERSION_R2_DUAL

  - opt_disable AUTO_BED_LEVELING_BILINEAR

  - opt_enable AUTO_BED_LEVELING_3POINT DEBUG_LEVELING_FEATURE
  - build_marlin
  #
  # Test a probeless build of AUTO_BED_LEVELING_MESH
  #
  - restore_configs
  - opt_set ROBO_BOARD_VERSION BOARD_VERSION_R2_DUAL

  - opt_disable AUTO_BED_LEVELING_BILINEAR

  - opt_enable MESH_BED_LEVELING DEBUG_LEVELING_FEATURE
  - build_marlin
  #
  # Test if platformio will compile all targets
  #
  - platformio run